/* Fonts */

/* cuprum-regular */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum"), local("Cuprum Regular"), local("Cuprum-Regular"),
      url("../fonts/cuprum.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprum.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-italic  */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
      url("../fonts/cuprumitalic.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprumitalic.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-700  */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
      url("../fonts/cuprumbold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprumbold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-700-italic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-Bold-Italic"),
      url("../fonts/cuprumbolditalic.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprumbolditalic.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* pt-sans-regular */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
      url("../fonts/ptsans.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/ptsans.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* pt-sans-700 */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
      url("../fonts/ptsansbold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/ptsansbold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark: #293449;
  --basic-dark-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-greylighten: #E5E5E5;
  --basic-blue: #3BBCE3;
  --basic-orange: #FFBF47;
  --basic-orangelight: #FFC047;
  --special-lilac: #DC91D8;
  --special-beige: #F7F3EC;
  --special-green:#00ca74;
  --special-greenlight: #8ED78F;
  --special-grey:#F4F4F4;
  --special-grey-scale: #D7DCDE;
  --special-grey-toogle: #ABABAB;
  --special-grey-chechbox-hover: #B5B5B5;
  --special-red:#ff5357;
  --red-dark: #CA2C37;
  --red-darken: #BA2732;
  --beige-light: #F9F5F0;
  --grey-light: #EAEAEA;
  --grey-darken: #A9A9A9;
  --grey-lighten: #F1F5F7;
  --green-dark: #518534;
  --green-darken: #367315;
  --green-light: #5FBB2D;
  --blue-dark: #405069;
  --blue-darken: #212a3a;
  --blue-lighten: #F2F6F8;
  --special-yellowlight: #FFD180;
  --dark-blue-active: #1D2739;
  --black-active: #161D29;

  --opacity-active: 0.5;
  --opacity-30: 0.3;
  --white-opacity-30: rgba(255,255,255,0.3);
  --greylight-opacity-30: rgba(197, 197, 197, 0.3);
  --grey-darken-opacity-30: rgba(169, 169, 169, 0.3);
  --black-opacity-25: rgba(0,0,0,0.25);
  --black-opacity-24: rgba(0,0,0,0.24);
  --black-opacity-15: rgba(0,0,0,0.15);

  --font-classic: "Cuprum", Arial, sans-serif;
  --font-additional: "PT Sans", Arial, sans-serif;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: var(--font-classic);
  font-size: 13px;
  line-height: 1.84;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Common */

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--black-opacity-24);
  display: inline-block;
}

.logo:active {
  background-color: var(--red-darken);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.status-new {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 8px;
  right: -28px;
  background-color: var(--basic-red);
  font-family: var(--font-classic);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.28;
  padding-top: 6px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  box-sizing: border-box;
  transform: rotate(45deg);
}

.btn {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
}

.btn--white {
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-transform: uppercase;
}

.btn-exit {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.footer__contacts, .header-contacts {
  font-style: normal;
}

/* Потом уберу как будет интерактив на js*/
.hide {
  display: none;
}

/* Header */

.header__logo {
  margin: 0;
  box-sizing: border-box;
  width: 220px;
  height: 47px;
  padding: 12px 57px 17px 55px;
}

.header {
  background-image: linear-gradient(to bottom, var(--basic-dark) 42px, var(--grey-lighten) 42px);
  margin-bottom: 60px;
}

.page-catalog  .header{
  margin-bottom: 21px;
}

.header__toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search {
  position: relative;
}

.search__input {
  background-color: var(--basic-dark);
  border: none;
  color: var(--basic-white);
  font-family: var(--font-classic);
  font-size: 18px;
  line-height: 1.33;
  width: 100%;
  height: 42px;
  padding-left: 42px;
}

.header__toolbar-icon-search {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search__input::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.search:hover .header__toolbar-icon-search, .search:focus .header__toolbar-icon-search {
  opacity: 1;
}

.search:focus-within .search__input {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search:focus .header__toolbar-icon-search path, .search:focus-within .header__toolbar-icon-search path {
  fill: var(--basic-red);
}

.search:focus .header__toolbar-icon-search, .search:focus-within .header__toolbar-icon-search {
  opacity: 1;
}

.header__toolbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-size: 18px;
  line-height: 1.33;
  padding: 0;
  margin: 0;
  height: 41px;
  min-width: 450px;
}

.header__toolbar-item {
  height: 42px;
}

.header__toolbar-link {
  color: var(--basic-white);
  padding: 9px 16px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header__toolbar-icon {
  opacity: var(--opacity-30);
}

.header__toolbar-icon--bookmarks {
  margin-right: 9px;
}

.header__toolbar-icon--basket {
  margin-right: 8px;
}

.header__toolbar-link:hover .header__toolbar-icon, .header__toolbar-link:focus .header__toolbar-icon {
  opacity: 1;
}

.header__toolbar-link:active {
  background-color: var(--black-active);
  opacity: var(--opacity-active);
}

.header__info-caption {
  font-style: italic;
  font-size: 16px;
  line-height: 1.43;
  color: var(--basic-red);
  width: 197px;
  margin: 0;
}

.header-contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header__adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--basic-dark-blue);
  margin: 3px 0 0 0;
}

.header__phone {
  display: flex;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.42;
  width: 270px;
  min-height: 45px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  align-self: center;
  align-items: center;
  justify-content: center;
}

.header__phone-icon {
  margin-right: 16px;
}

.header__signin-btns {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.header__signin-item:first-child {
  width: 121px;
}

.header__signin-item:last-child {
  margin-left: 10px;
  width: 150px;
}

.header__signin-link {
  display: flex;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 45px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header__signin-icon--login {
  margin-right: 6px;
}

.header__signin-link:hover, .header__signin-link:focus,
.header__profile-link:hover, .header__profile-link:focus {
  color: var(--basic-red);
}

.header__signin-link:hover .header__signin-icon path,
.header__signin-link:focus .header__signin-icon path {
  fill: var(--basic-grey);
}

.header__signin-link:active, .header__profile-link:active {
  color: var(--basic-greylight);
}

.header__signin-link:active .header__signin-icon path {
  fill: var(--basic-greylight);
}

.header__nav {
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark);
  margin-bottom: 60px;
}

.header__nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  min-height: 60px;
}

.header__nav-item{
  height: 60px;
}

.header__nav-link {
  display: block;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33;
  box-sizing: border-box;
  padding: 18px 24px 20px 27px;
  cursor: pointer;
  height: 55px;
}

.header__nav-link:hover, .header__nav-link:focus {
  background-color: var(--basic-dark);
}

.header__nav-link:active {
  opacity: var(--opacity-active);
  background-color: var(--dark-blue-active);
}

.header__profile-item {
  color: var(--basic-dark-blue);
  list-style: none;
}

.header__profile-item:first-child {
  margin-right: 12px;
}

.header__profile-item:last-child::before {
  content: '';
  list-style-type: disc;
  float: left;
  display: list-item;
  width: 1px;
  margin: 0 8px 0 12px;
}

.header__profile {
  margin: 7px 0 0 0;
  display: flex;
}

.header__profile-link {
  font-size: 16px;
  line-height: 1.12;
  color: var(--basic-dark-blue);
}

.header__info-user .header__signin-link {
  padding: 10px;
}

.header__info-user .header__signin-btns {
  width: 299px;
}

.header__info-user .header__signin-link:last-child {
  width: 45px;
}

.header__signin-icon--user {
  margin-right: 21px;
}

.header__toolbar-item:last-child {
  min-width: 150px;
  background-color: var(--basic-green);
}

.header__toolbar-item:last-child:hover, .header__toolbar-item:last-child:focus {
  background-color: var(--green-light);
}

.header__toolbar-link--active {
  min-width: 136px;
  background-color: var(--basic-red);
}

/* Main */

/* Promo section*/

.promo__block {
  max-width: 300px;
  height: 123px;
  padding-top: 20px;
  padding-left: 22px;
  padding-bottom: 21px;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.promo__block-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: var(--basic-white);
  margin: 0 0 14px 0;
}

.promo__block-link {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--white-opacity-30);
  padding: 10px 8px;
  width: 135px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.promo__block-icon {
  position: absolute;
}

.promo__block--materials .promo__block-icon {
  top: 31px;
  right: 41px;
}

.promo__block--tool .promo__block-icon {
  top: 34px;
  right: 31px;
}

.promo__block--technics .promo__block-icon {
  top: 31px;
  right: 31px;
}

.promo__block--discounts .promo__block-icon {
  top: 26px;
  right: 45px;
}

.promo__block--delivery .promo__block-icon {
  top: 32px;
  right: 31px;
}

.promo__block-link:hover, .promo__block-link:focus {
  background-color: var(--greylight-opacity-30);
}

.promo__block-link:active {
  background-color: var(--grey-darken-opacity-30);
}

.promo__block--materials {
  background-color: var(--basic-orange);
}

.promo__block--tool {
  background-color: var(--basic-blue);
}

.promo__block--technics {
  background-color: var(--special-lilac);
}

.promo__block--discounts {
  background-color: var(--special-greenlight);
  grid-column: -1 / -2;
  grid-row: 2 / 3;
}

.promo__block--delivery {
  background-color: var(--basic-orangelight);
  grid-column: -1 / -2;
  grid-row: 3 / 4;
}

/* Slider */

.promo__slider {
  color: var(--basic-white);
  grid-column: 1 / -2;
  grid-row: 2 / 4;
  position: relative;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
  padding-bottom: 5px;
}

.slider__desc {
  font-size: 18px;
  line-height: 1.33;
  margin: 0;
}

.slider__item {
  display: none;
}

.slider__item--show {
  display: block;
}

.slider__item-wrapper {
  background-color: var(--black-opacity-25);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 23px;
  padding-left: 24px;
  width: 100%;
  min-height: 104px;
  box-sizing: border-box;
}

.slider__btn {
  padding: 11px 46px 9px 46px;
  position: absolute;
  bottom: 27px;
  left: 24px;
}

.slider__btn:hover, .slider__btn:focus {
  background-color: var(--red-dark);
}

.slider__btn:active {
  background-color: var(--red-darken);
}

.slider__back, .slider__next, .slider__toggles {
  position: absolute;
}

.slider__back, .slider__next, .slider__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__back {
  left: 24px;
  top: 122px;
}

.slider__next {
  right: 20px;
  top: 122px;
  transform: rotate(180deg);
}

.slider__toggles {
  display: flex;
  width: 30px;
  justify-content: space-between;
  bottom: 36px;
  left: 295px;
}

.slider__toggle {
  position: relative;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle--active:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border-radius: 50%;
}

/* Popular header */
.board {
  margin-bottom: 70px;
}

.board__header {
  background-color: var(--beige-light);
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 14px 14px 14px 28px;
  box-sizing: border-box;
}

.board__title {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  max-width: 700px;
}

.board__btn {
  padding: 11px 24px 9px 24px;
  min-width: 192px;
  min-height: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  box-sizing: border-box;
}

/* Catalog products style */

.catalog__list, .catalog__list-board {
  list-style: none;
}

.catalog__list {
  grid-column: -2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin-top: 28px;
}

.card {
  border: 1px solid var(--grey-light);
  font-family: var(--font-additional);
  font-weight: bold;
  font-size: 17px;
  line-height: 1.05;
  text-align: center;
  position: relative;
  min-height: 318px;
  padding-bottom: 21px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card__img-wrapper {
  height: 170px;
  display: flex;
}

.card__title {
  font-size: 18px;
  line-height: 1.11;
  color: var(--basic-black);
  width: 185px;
  min-height: 43px;
  margin: 0;
}

.card__discount {
  color: var(--grey-darken);
  text-transform: uppercase;
  margin-bottom: 13px;
  min-height: 18px;
}

.card__item {
  margin-bottom: 10px;
}

.card__img {
  margin: auto;
}

.card__btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.28;
  width: 135px;
  height: 38px;
}

.card__link {
  margin-top: auto;
  margin-bottom: 7px;
}

.card__btn--buy {
  border: none;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--green-darken);
  color: var(--basic-white);
}

.card__btn--buy:hover, .card__btn--buy:focus {
  background-color: var(--green-light);
}

.card__btn--buy:active {
  background-color: var(--green-dark);
}

.card__btn--bookmark {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--basic-dark-blue);
}

.card__btn--bookmark:hover, .card__btn--bookmark:focus {
  border: 3px solid var(--basic-dark-blue);
}

.card__btn--bookmark:active {
  opacity: var(--opacity-active);
}

.card__price-btn {
  position: relative;
  box-sizing: border-box;
  margin: auto 0 0 0;
  padding: 10px;
  width: 141px;
  min-height: 38px;
}

.card__price-btn::before,
.card__price-btn::after {
  content: '';
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.card__price-btn::before {
  top: 0;
  border-width: 19px 0 0 20px;
  border-color: transparent transparent transparent var(--basic-red);
}

.card__price-btn::after {
  bottom: 0;
  border-width: 20px 20px 0 0;
  border-color: var(--basic-red) transparent transparent transparent;
}

.card__list {
  display: none;
  list-style: none;
  box-sizing: border-box;
  height: 170px;
  padding: 38px 0 0 0;
  font-family: var(--font-classic);
}

.card:hover .card__list,
.card:focus .card__list {
  display: flex;
  flex-direction: column;
}

.card:hover .card__img-wrapper,
.card:focus .card__img-wrapper {
  display: none;
}

.card:hover, .card:focus {
  border: 1px solid transparent;
  box-shadow: 0px 4px 20px var(--black-opacity-15);
}

/* Producer section */

.producer {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
}

.producer__link img {
  width: auto;
  margin: 0 auto;
}

.producer__item {
  border: 1px solid var(--grey-light);
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.producer__item:hover,
.producer__item:focus,
.producer__item:active {
  box-shadow: 0px 4px 20px var(--black-opacity-15);
}

.producer__item:active {
  opacity: var(--opacity-active);
}

/* Service section */

.service {
  background-color: var(--grey-lighten);
  border: 1px solid var(--basic-black);
  margin-bottom: 70px;
  min-height: 522px;
  box-sizing: border-box;
  overflow: hidden;
}

.service__container {
  padding: 64px 0px 98px 0px;
}

.service__title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.service__text {
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.84;
  width: 395px;
  margin: 0;
  margin-bottom: 70px;
}

.service__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 80px;
  position: relative;
}

.service__list::after {
  position: absolute;
  content: "";
  background-image: url("../img/services-border.png");
  width: 10px;
  height: 279px;
  top: -40px;
  right: 0;
}

.service__btn {
  text-align: left;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.42;
  color: var(--basic-white);
  border: none;
  width: 240px;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
}

.service__btn:not(.service__btn--active) {
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px 1px 0px var(--blue-dark);
  filter: drop-shadow(0px 1px 0px var(--basic-dark));
}

.service__btn--active {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
}

.service__btn:hover:not(.service__btn--active), .service__btn:focus:not(.service__btn--active) {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.service__slider-title {
  color: var(--basic-dark-blue);
}

.service__slider-btn {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--special-red);
  width: 195px;
  height: 38px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.service__slider {
  position: relative;
  min-width: 620px;
  display: none;
}

.service__slider .service__text {
  margin: 0;
}

.service__slider--active {
  display: block;
}

.service__slider--delivery .service__text {
  width: 278px;
}

.service__slider--warranty .service__text {
  width: 319px;
}

.service__slider--credit .service__text {
  width: 280px;
  margin-bottom: 26px;
}

.service__slider--delivery::before {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  top: 24px;
  right: 0;
  background-image: url("../img/delivery.png");
}

.service__slider--warranty::before {
  content: "";
  position: absolute;
  width: 389px;
  height: 283px;
  top: 1px;
  right: -8px;
  background-image: url("../img/warranty.png");
}

.service__slider--credit::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  top: 0px;
  right: -10px;
  background-image: url("../img/credit.png");
}

/* About section (+ contacts) */
.about__contacts {
  width: 300px;
}

.about__wrapper {
  margin-right: 180px;
}

.about__title , .contacts__title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.about__text, .contacts__text {
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.84;
  margin:0;
}

.about__text:first-of-type {
  margin-bottom: 28px;
}

.about__text:last-of-type {
  width: 385px;
}

.about__item {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 12px;
}

.about__list {
  margin:1px 0 20px 0;
}

.about__btn, .contacts__btn {
  padding: 11px 11px 9px 11px;
  font-size: 14px;
  line-height: 1.28;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.about__btn {
  width: 220px;
}

.contacts__btn {
  width: 300px;
}

.contacts__text {
  margin-bottom: 32px;
  width: 180px;
}

.contacts__link img{
  margin-bottom: 25px;
}

/* Footer */

.footer__logo {
  padding: 20px 41px 25px 41px;
  width: 220px;
  height: 68px;
  box-sizing: border-box;
}

.footer {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33;
}

.footer__nav {
  grid-column: -1 / -2;
  grid-row: 1 / -3;
}

.footer__nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 571px;
}

.footer__nav-list--yellow {
  width: 524px;
  margin-left: auto;
}

.footer__nav-list:first-of-type {
  margin-top: 37px;
  margin-bottom: 34px;
}

.footer__contacts {
  width: 321px;
  margin-top: 22px;
  margin-bottom: 54px;
}

.footer__nav-link, .footer__contacts-phone {
  color: var(--basic-white);
}

.footer__nav-link:hover,
.footer__nav-link:focus,
.footer__meta-link:hover,
.footer__meta-link:focus {
  text-decoration: underline;
}

.footer__nav-link:active {
  text-decoration: none;
  opacity: var(--opacity-active);
}

.footer__nav-list--yellow .footer__nav-link, .footer__meta-link {
  color: var(--special-yellowlight);
}

.footer__meta {
  background-color: var(--basic-dark);
  font-size: 16px;
  line-height: 1.12;
}

.footer__meta-copyright {
  max-width: 231px;
}

.footer__meta-social {
  margin: auto;
}

.footer__meta-feedback {
  width: 188px;
}

.footer__meta-development {
  max-width: 100px;
}

.footer__meta-title {
  font-size: 16px;
  line-height: 1.12;
  margin: 0;
}

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.social__btn {
  position: relative;
  display: block;
  background-color: var(--blue-darken);
  background-position: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 1px;
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.footer__meta-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.social__btn:hover, .social__btn:focus {
  background-color: var(--basic-red);
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  font-family: var(--font-additional);
  font-size: 0;
  line-height: 1.38;
  text-transform: uppercase;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 20px 0;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 40px;
  height: 18px;
}

.breadcrumbs__item:first-child {
  margin-right: 55px;
}

.breadcrumbs__icon-right {
  content: "";
  position: absolute;
  right: -24px;
  top: 4px;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  position: absolute;
  top: 2px;
}

.breadcrumbs__item:first-child .breadcrumbs__icon-right {
  left: 29px;
}

.breadcrumbs__item:nth-child(2n) .breadcrumbs__icon-right {
  right: -21px;
}

.breadcrumbs__item:nth-child(3n) {
  margin-right: 42px;
}

.breadcrumbs__link {
  color: var(--basic-black);
  font-size: 13px;
}

/* Main */

.catalog__title {
  width: 100%;
  background-color: var(--blue-lighten);
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  padding: 29px 0 30px 29px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  box-sizing: border-box;
  margin: 0 0 20px 0;
}

/* Filter */
.catalog__filter {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  font-family: var(--font-additional);
}

.filter__title {
  background-color: var(--special-beige);
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  padding: 10px 18px;
  height: 38px;
  box-sizing: border-box;
  margin: 0 0 14px 0;
}

.filter__fieldset {
  border: none;
  margin: 0 0 18px 0;
  padding: 0 0 26px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--basic-greylighten);
  text-transform: uppercase;
}

.filter__fieldset:last-of-type {
  border-bottom: none;
}

.filter__legend {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  margin: 0 0 11px 0;
  padding: 0;
}

.filter__range-controls {
  position: relative;
  background-color: var(--special-beige);
  width: 220px;
  height: 80px;
  border-radius: 3px;
  margin: 0;
}

.filter__scale {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 180px;
  height: 2px;
  background-color: var(--special-grey-scale);
}

.filter__bar {
  height: 2px;
  background-color: var(--special-green);
}

.filter__range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 30px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-grey-toogle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-grey-toogle);
  cursor: pointer;
}

.filter__price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  font-size: 0;
}

.filter__min-price,
.filter__max-price {
  border: none;
  width: 95px;
  height: 38px;
  background-color: var(--special-beige);
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.76;
}

.filter__price-controls-space {
  font-size: 16px;
  width: 8px;
  overflow: hidden;
}

.filter__fieldset--brands {
  margin-top: 15px;
}

.filter__fieldset--brands .filter__legend {
  margin-bottom: 17.5px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.26;
}

.filter__item {
  margin-bottom: 20px;
}

.filter__item:last-child {
  margin-bottom: 0;
}

.filter__label {
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}

.filter__checkbox-icon {
  display: none;
}

.filter__checkbox + .filter__label::before,
.filter__radio + .filter__label::before {
  content: "";
  position: absolute;
  left: -35px;
  box-sizing: border-box;
}

.filter__checkbox + .filter__label::before {
  top: -3px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-greylight);
  border-radius: 4px;
}

.filter__checkbox:hover + .filter__label::before,
.filter__checkbox:focus + .filter__label::before {
  border: 2px solid var(--special-grey-chechbox-hover);
}

.filter__checkbox:disabled + .filter__label,
.filter__radio:disabled + .filter__label {
  opacity: 0.3;
}

.filter__checkbox:checked  + .filter__label .filter__checkbox-icon {
  display: block;
  content: "";
  position: absolute;
  left: -31px;
  top: -4px;
  width: 23px;
  height: 18px;
  background-repeat: no-repeat;
}

.filter__checkbox:hover + .filter__label .filter__checkbox-icon path,
.filter__checkbox:focus + .filter__label .filter__checkbox-icon path {
  fill: var(--special-grey-chechbox-hover);
}

.filter__fieldset--power {
  border: none;
  margin-bottom: 37.15px;
  padding-bottom: 0;
}

.filter__fieldset--power .filter__legend{
  margin-bottom: 23.35px;
}

.filter-fieldset-power .filter__item {
  margin-bottom: 22.5px;
}

.filter__radio + .filter__label::before {
  top: -4px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter__radio:hover + .filter__label::before,
.filter__radio:focus + .filter__label::before {
  border: 4px solid var(--special-grey-chechbox-hover);
}

.filter__radio:checked  + .filter__label::after {
  display: block;
  content: "";
  position: absolute;
  left: -27px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter__radio:hover  + .filter__label::after,
.filter__radio:focus  + .filter__label::after {
  background-color: var(--special-grey-chechbox-hover);
}

.filter__submit {
  box-sizing: border-box;
  border: 1px solid var(--basic-greylighten);
  background-color: var(--basic-white);
  width: 220px;
  height: 38px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.38;
}

/* Sort */

.sort {
  background-color: var(--special-beige);
  text-transform: uppercase;
  padding: 0px 17px 0px 19px;
  min-height: 38px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.sort__title {
  font-size: 13px;
  line-height: 1.38;
  margin: 0;
  margin-right: 20px;
}

.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 334px;
  padding: 6px 0;
  margin-left: auto;
}

.sort__item {
  margin-right: 10px;
}

.sort__item:last-child {
  margin: 0;
}

.sort__link {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--basic-red);
  opacity: var(--opacity-30);
}

.sort__link--active {
  border: none;
  color: var(--basic-red);
  opacity: 1;
}

.sort__link:hover, .sort__link:focus {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sort__method {
  display: flex;
  align-items: center;
  margin-left: 41px;
}

.sort__type {
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
}

.sort__type--ascending:not(.sort__type--active) {
  border-bottom: 10px solid var(--basic-greylight);
}

.sort__type--descending:not(.sort__type--active) {
  margin-left: 21px;
  border-top: 10px solid var(--basic-greylight);
}

.sort__type--ascending {
  border-bottom: 10px solid var(--basic-red);
}

.sort__type--descending {
  border-top: 10px solid var(--basic-red);
}

.sort__type--ascending:hover, .sort__type--ascending:focus {
  border-bottom: 10px solid var(--basic-black);
}

.sort__type--descending:hover, .sort__type--descending:focus {
  border-top: 10px solid var(--basic-black);
}

/* Pagination */

.pagination {
  list-style: none;
  font-family: var(--font-additional);
  grid-column: -2 / -1;
  display: flex;
  margin: 28px 0 0 0;
  padding: 0;
}

.pagination__item {
  margin-right: 10px;

}

.pagination__btn {
  background: var(--basic-white);
  border: 1px solid var(--basic-greylighten);
  border-radius: 2px;
  box-sizing: border-box;
  height: 38px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.38;
  display: inline-block;
  color: var(--basic-black);
  text-transform: uppercase;;
}

.pagination__btn--active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination__btn:hover, .pagination__btn:focus {
  border: 1px solid var(--basic-greylight);
}

.pagination__btn:active {
  border: 1px solid var(--basic-red);
}

.pagination__item:last-child .pagination__btn{
  padding: 10px 31px 10px 32px;
}

/* Catalog */

.catalog__description {
  background-color: var(--grey-lighten);
  padding-top: 64px;
  padding-bottom: 68px;
}

.catalog__description-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.catalog__description-text {
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.84;
  margin: 0;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 20px var(--black-opacity-15));
  overflow: hidden;
  display: none;
}

.modal--show {
  display: block;
  animation: bounce 0.6s;
}

.modal--error {
  animation: shake 0.6s;
}

.modal-feedback {
  width: 620px;
  height: 430px;
  font-size: 18px;
  line-height: 1.33;
}

.modal-map {
  width: 943px;
  height: 449px;
}

.modal-succes {
  width: 620px;
  height: 282px;
}

.modal-feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px 80px 37px 80px;
}

.modal-feedback__label {
  width: 220px;
  margin-bottom: 13px;
}

.modal-feedback__container, .modal-succes__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 112px;
  background-color: var(--special-grey);
}

.modal-feedback__input {
  margin-top: 11px;
  width: 220px;
  height: 38px;
  padding: 7px 12px;
}

.modal-feedback__input,
.modal-feedback__textarea {
  font-family: var(--font-additional);
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 13px;
  border: 2px solid var(--grey-darken);
  line-height: 1.85;
}

.modal-feedback__input::placeholder,
.modal-feedback__textarea::placeholder {
  color: var(--grey-darken);
}

.modal-feedback__textarea {
  resize: none;
  width: 460px;
  height: 114px;
  padding: 6.29px 12px;
}

.modal-succes__btn, .modal-feedback__btn {
  font-size: 14px;
  line-height: 1.28;
  height: 38px;
}

.modal-feedback__btn {
  width: 460px;
}

.modal-succes__btn {
  width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-succes__btn:first-child {
  margin-right: 10px;
}

.modal-feedback__btn-exit {
  right: 11px;
  top: 14px;
}

.modal-map__btn-exit {
  right: 10px;
  top: 10px;
}

.modal-succes__btn-exit {
  right: 11px;
  top: 11px;
}

.modal-succes__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  margin: 66px 0 0 0;
}

.modal-succes__icon {
  position: absolute;
  top: 48px;
  left: 81px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header__info {
  display: grid;
  grid-template-columns: 197px 1fr 299px;
  gap: 20px;
  padding-left: 30px;
  min-height: 112px;
  box-sizing: border-box;
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
}

.board__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.service__content {
  display: flex;
}

.about__container {
  display: flex;
  margin-bottom: 70px;
  min-height: 356px;
}

.page-catalog .catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-column-gap: 21px;
  margin-bottom: 59px;
}

.footer__container {
  display: grid;
  grid-template-columns: auto auto;
  min-height: 192px;
}

.footer__meta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
