/* Fonts */

/* cuprum-regular */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum"), local("Cuprum Regular"), local("Cuprum-Regular"),
      url("../fonts/cuprum.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprum.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-italic  */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
      url("../fonts/cuprumitalic.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprumitalic.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-700  */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
      url("../fonts/cuprumbold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprumbold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* cuprum-700-italic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-Bold-Italic"),
      url("../fonts/cuprumbolditalic.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/cuprumbolditalic.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* pt-sans-regular */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
      url("../fonts/ptsans.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/ptsans.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* pt-sans-700 */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
      url("../fonts/ptsansbold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../fonts/ptsansbold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark: #293449;
  --basic-dark-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-greylighten: #E5E5E5;
  --basic-blue: #3BBCE3;
  --basic-orange: #FFBF47;
  --basic-orangelight: #FFC047;
  --special-lilac: #DC91D8;
  --special-beige: #F7F3EC;
  --special-greenlight: #8ED78F;
  --red-dark: #CA2C37;
  --red-darken: #BA2732;
  --beige-light: #F9F5F0;
  --grey-light: #EAEAEA;
  --grey-darken: #A9A9A9;
  --grey-lighten: #F1F5F7;
  --green-dark: #518534;
  --green-darken: #367315;
  --green-light: #5FBB2D;
  --blue-dark: #405069;
  --blue-lighten: #F2F6F8;
  --special-yellowlight: #FFD180;
  --dark-blue-active: #1D2739;
  --black-active: #161D29;

  --opacity-active: 0.5;
  --white-opacity-30: rgba(255,255,255,0.3);
  --greylight-opacity-30: rgba(197, 197, 197, 0.3);
  --grey-darken-opacity-30: rgba(169, 169, 169, 0.3);
  --black-opacity-25: rgba(0,0,0,0.25);
  --black-opacity-24: rgba(0,0,0,0.24);
  --black-opacity-15: rgba(0,0,0,0.15);

  --font-classic: "Cuprum", Arial, sans-serif;
  --font-additional: "PT Sans", Arial, sans-serif;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: var(--font-classic);
  font-size: 13px;
  line-height: 1.84;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Common */

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--black-opacity-24);
  display: inline-block;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.status-new {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--basic-white);
}

.btn {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
}

.btn--white {
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-transform: uppercase;
}

.footer__contacts, .header-contacts {
  font-style: normal;
}

/* Header */

.header__logo {
  padding: 12px 57px 17px 55px;
}

.header {
  background-image: linear-gradient(to bottom, var(--basic-dark) 42px, var(--grey-lighten) 42px);
}

.search__input {
  background-color: var(--basic-dark);
  border: none;
  color: var(--basic-white);
  font-family: var(--font-classic);
  font-size: 18px;
  line-height: 1.33;
}

.search__input::placeholder {
  color: var(--basic-white);
}

.header__toolbar-list {
  list-style: none;
  font-size: 18px;
  line-height: 1.33;
}

.header__toolbar-link {
  color: var(--basic-white);
  padding: 9px 16px;
}

.header__toolbar-link:active {
  background-color: var(--black-active);
  opacity: var(--opacity-active);
}

.header__info-caption {
  font-style: italic;
  font-size: 16px;
  line-height: 1.43;
  color: var(--basic-red);
  width: 197px;
}

.header__adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--basic-dark-blue);
}

.header__phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.42;
  color: var(--basic-red);
}

.header__signin-btns {
  list-style: none;
}

.header__signin-link {
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 12px 24px;
}

.header__signin-link:hover, .header__profile-link:hover {
  color: var(--basic-red);
}

.header__signin-link:active, .header__profile-link:active {
  color: var(--basic-greylight);
}

.header__nav {
  background-color: var(--basic-dark-blue);
  padding: 16px 53px 20px 53px;
}

.header__nav-list {
  list-style: none;
}

.header__nav-link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33;
}

.header__nav-link:hover {
    background-color: var(--basic-dark);
}

.header__nav-link:active {
    opacity: var(--opacity-active);
    background-color: var(--dark-blue-active);
}

.header__profile {
  list-style: none;
}

.header__profile-link {
  font-size: 16px;
  line-height: 1.12;
  color: var(--basic-dark-blue);
}

/* Main */

/* Promo section*/

.promo__block-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: var(--basic-white);
}

.promo__block-link {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--white-opacity-30);
  padding: 10px 24px;
}

.promo__block-link:hover {
  background-color: var(--greylight-opacity-30);
}

.promo__block-link:active {
  background-color: var(--grey-darken-opacity-30);
}

.promo__block--materials {
  background-color: var(--basic-orange);
}

.promo__block--tool {
  background-color: var(--basic-blue);
}

.promo__block--technics {
  background-color: var(--special-lilac);
}

.promo__block--discounts {
  background-color: var(--special-greenlight);
}

.promo__block--delivery {
  background-color: var(--basic-orangelight);
}

/* Slider */

.slider {
  color: var(--basic-white);
}

.slider__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider__desc {
  font-size: 18px;
  line-height: 1.33;
}

.slider__item-wrapper {
  background-color: var(--black-opacity-25);
}

.slider__btn {
  padding: 11px 46px 9px 46px;
}

.slider__btn:hover {
  background-color: var(--red-dark);
}

.slider__btn:active {
  background-color: var(--red-darken);
}

/* Popular header */

.board__header {
  background-color: var(--beige-light);
  height: 89px;
}

.board__title {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
}

.board__btn {
  padding-top: 11px;
  padding-bottom: 9px;
}

/* Catalog products style */

.catalog__list {
  list-style: none;
}

.card {
  border: 1px solid var(--grey-light);
  font-family: var(--font-additional);
  font-weight: bold;
  font-size: 17px;
  line-height: 1.05;
  text-align: center;
}

.card__title {
  font-size: 18px;
  line-height: 1.11;
  color: var(--basic-black);
}

.card__discount {
  color: var(--grey-darken);
  text-transform: uppercase;
}

.card__item {
  list-style: none;
}

.card__btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.28;
}

.card__btn--buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--green-darken);
  color: var(--basic-white);
}

.card__btn--buy:hover {
  background-color: var(--green-light);
}

.card__btn--buy:active {
  background-color: var(--green-dark);
}

.card__btn--bookmark {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--basic-dark-blue);
}

.card__btn--bookmark:hover {
  border: 3px solid var(--basic-dark-blue);
}

.card__btn--bookmark:active {
  opacity: var(--opacity-active);
}

/* Producer section */

.producer {
  list-style: none;
}

.producer__item {
  border: 1px solid var(--grey-light);
}

.producer__item:hover, .producer__item:active{
  filter: drop-shadow(0px 4px 20px var(--black-opacity-15));
}

.producer__item:active {
  opacity: var(--opacity-active);
}

/* Service section */

.service {
  background-color: var(--grey-lighten);
  border: 1px solid var(--basic-black);
}

.service__title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}

.service__text {
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.84;
  width: 395px;
}

.service__list {
  list-style: none;
  padding: 0;
}

.service__btn {
  text-align: left;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.42;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px 1px 0px var(--blue-dark);
  filter: drop-shadow(0px 1px 0px var(--basic-dark));
  width: 240px;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  padding-left: 22px;
  padding-right: 22px;
}

.service__btn--active {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
  box-shadow: none;
}

.service__btn:hover {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.service__slider-title {
  color: var(--basic-dark-blue);
}

.service__slider-btn {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--basic-white);
}

/* About section (+ contacts) */

.about__title , .contacts__title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}

.about__text, .contacts__text {
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.84;
}

.about__item {
  font-size: 18px;
  line-height: 1.33;
}

/* Footer */

.footer__logo {
  padding: 20px 41px 25px 41px;
}

.footer {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  font-size: 18px;
  line-height: 1.33;
}

.footer__nav-list {
  list-style: none;
}

.footer__nav-link, .footer__contacts-phone {
  color: var(--basic-white);
}

.footer__nav-link:hover, .footer__meta-link:hover {
  text-decoration: underline;
}

.footer__nav-link:active {
  text-decoration: none;
  opacity: var(--opacity-active);
}

.footer__nav-list--yellow .footer__nav-link, .footer__meta-link {
  color: var(--special-yellowlight);
}

.footer__meta {
  background-color: var(--basic-dark);
  font-size: 16px;
  line-height: 1.12;
}

.footer__meta-title {
  font-size: 16px;
  line-height: 1.12;
  margin: 0;
}

.footer__meta-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.social__btn:hover {
  background-color: var(--basic-red);
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

.breadcrumbs__link {
  color: var(--basic-black);
}

/* Main */

.catalog__title {
  width: 100%;
  background-color: var(--blue-lighten);
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  padding: 29px 0 30px 29px;
}

/* Filter */

.filter__title {
  background-color: var(--special-beige);
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

/* Sort */

.sort {
  background-color: var(--special-beige);
}

.sort__title {
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  list-style: none;
  font-family: var(--font-additional);
}

.pagination__btn {
  font-size: 13px;
  line-height: 1.38;
  color: var(--basic-black);
  background: var(--basic-white);
  border: 1px solid var(--basic-greylighten);
}

.pagination__btn--active {
  background-color: var(--basic-red);
}

.pagination__btn:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination__btn:active {
  border: 1px solid var(--basic-red);
}

/* Catalog */

.catalog__description {
  background-color: var(--grey-lighten);
  padding-top: 64px;
  padding-bottom: 68px;
}

.catalog__description-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.catalog__description-text {
  font-family: var(--font-additional);
  font-size: 13px;
  line-height: 1.84;
  margin: 0;
}

/* Modal */

.modal-succes__description {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
}

.modal-succes__btn {
  font-size: 14px;
  line-height: 1.28;
}
